header{
    
    .header-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1e86ed;
        h2{
            color:white;
        }
        
    }
}